@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,200&display=swap");

body{
  font-family: 'Rock 3D', cursive;
  overflow: hidden;
  background: conic-gradient(from -270deg at 110% 50%, cadetblue, darkgreen);
}

.container{
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digitalClock{
  border: 1px solid black;

  width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 2px;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
}

.digitalClock h1{
  display: inline-block;
  margin: 0 10px;
  font-weight: bold;
  font-size: 5rem;
}